@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    background-color: black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgba(39, 38, 38, 0.78);
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 20, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(231, 126, 74);

}

nav {
    background-color: white;

}

#top-nav {
    transition: top 0.3s;
}

.navbar.navbar-expand-xl.navbar-dark .fixed-top {
    height: 10px;
}

.navbar-collapse {
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
    margin-left: -100px;
}

.navbar-toggler.navbar-toggler-right {
    color: black;
    background-color: orange;
}

.img-logo {
    width: auto;
    height: 35px;
}

@media (min-width: 576px) {
    .img-logo {
        width: auto;
        height: auto;
    }
}

li {
    display: inline-block;
    margin-left: 100px;
}

li a.nav-custom {
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;

}

li a.nav-custom:hover {
    color: orange;
}

.nav-custom::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: orangered;
    transition: width .3s;
}

.nav-custom:hover::after {
    width: 100%;
    transition: width 3s.;
}

.img-fluid {
    width: 500%;
}

@media (min-width: 576px) {
    .img-fluid {
        width: 100%;
    }

}

p.text-section-banner-2 {
    color: #EB832D;
    font-size: 15px;
    margin-top: -150px;
    font-weight: 700;
    margin-left: 1%;
    margin-bottom: 1px;

}

@media (min-width: 576px) {
    p.text-section-banner-2 {
        font-size: 30px;
        margin-left: 7px;
        margin-bottom: -5px;
        margin-top: -540px;
    }
}

h1.text-section-banner-1 {
    font-size: 50px;
    font-weight: 780;
    width: 10px;
    line-height: 35px;
    letter-spacing: 0.01em;

}

@media (min-width: 576px) {

    h1.text-section-banner-1 {
        font-size: 120px;
        line-height: 100px;
    }
}

.text-2020 {
    width: 20px;
    color: #EB832D;
}

p.text-section-banner-3 {
    color: #EB832D;
    font-size: 20px;
    font-weight: 700;
    margin-left: 50%;
    margin-top: -30px;

}

@media (min-width: 576px) {
    p.text-section-banner-3 {
        font-size: 30px;
        font-weight: 700;
        margin-left: 25%;
        margin-bottom: -5px;
        margin-top: -10px;
    }
}

.btn-banner {
    cursor: pointer;
    width: auto;
    height: 50px;
    margin-top: -5px;
    margin-left: 40%;

}

.btn-banner:hover {
    transform: scale(1.3);
    transition: 0.3s ease;
}

@media (min-width: 576px) {
    .btn-banner {
        width: auto;
        height: auto;
        margin-left: 1%;
        margin-top: 90px;
    }
}

p.text-section-banner-4 {
    color: rgba(0, 0, 0, 0.74);
    font-size: 10px;
    font-weight: 700;
    margin-left: 38%;
    margin-top: -2px;

}

@media (min-width: 576px) {
    p.text-section-banner-4 {
        font-size: 20px;
        font-weight: 700;
        margin-left: 7%;
        margin-top: -50px;
    }
}

.col-md-12 {
    margin-top: 50px;
}

@media (min-width: 576px) {
    .col-md-12 {
        margin-top: 190px;
    }
}

h1.text-our {
    margin-left: 20px;
    font-size: 15px;

}

@media (min-width: 576px) {
    h1.text-our {
        margin-left: 20px;
        font-size: 15px;
        text-align: center;
    }
}

h1.text-our-founder {
    font-size: 25px;
    color: orange;
    margin-top: 50px;
    font-weight: 700;
    margin-left: 24%;
    margin-top: 50px;

}

@media (min-width: 576px) {
    h1.text-our-founder {
        margin-top: 100px;
        margin-left: 45%;
    }
}

.col-md-8 {
    margin-top: -20px;
}

@media (min-width: 576px) {
    .col-md-8 {
        margin-top: 90px;
    }
}

.img-about {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .img-about {
        margin-top: 0;
        margin-left: 0px;
        margin-bottom: 0;
    }
}

.img-about:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

.img-about-2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}

.img-about-2:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

@media (min-width: 576px) {
    .img-about-2 {
        margin-left: 2px;
        margin-top: -180px;

    }
}

.img-about-3 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.img-about-3:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

@media (min-width: 576px) {
    .img-about-3 {
        margin-left: 330px;
        margin-top: -195px;
    }
}

.col-6.col-md-4 {
    margin-top: 10px;
}

@media (min-width: 576px) {
    .col-6.col-md-4 {
        margin-top: 90px;
    }
}

.text-our-secret {
    margin-top: -10px;
    margin-left: 90px;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 23px;
    color: orange;

}

@media (min-width: 576px) {
    .text-our-secret {
        margin-top: 30px;
        margin-left: -60px;
        font-weight: 800;
        font-size: 37px;
    }
}

.text-food-story {
    font-weight: 750;
    font-size: 20px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.74);
    margin-left: 110px;
    width: 100%;
}

@media (min-width: 576px) {
    .text-food-story {
        font-weight: 750;
        font-size: 30px;
        margin-top: -10px;
        margin-left: -60px;
    }
}
}

.col-6.col-md-4 {
    width: 100%;
}

@media (min-width: 576px) {
    .col-6.col-md-4 {}
}

.text-our-secret-lorem {
    margin-left: 20px;
    width: 200%;
    font-size: 10px;
    margin-top: 40px;
}

@media (min-width: 576px) {
    .text-our-secret-lorem {
        width: 100%;
        margin-left: -60px;
        font-size: 15px;
        margin-top: 40px;
    }
}

.text-our-founder {
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    .text-our-founder {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

.item {
    margin-left: 130px;

}

@media (min-width: 576px) {
    .item {
        margin-left: 900px;

    }
}

.card {
    margin-left: -110px;
    box-shadow: 7px 15px 21px rgba(0, 0, 0, 0.3);
}

.card-text {
    color: rgba(0, 0, 0, 0.74);
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
}

button.btn-card {
    margin-left: 170px;
    color: white;
    border: none;
    width: 110px;
    height: 34px;
    cursor: pointer;
    margin-bottom: 0;
    background: linear-gradient(243.43deg, #F9AD1B 11.52%, #F37B18 81.1%);
}

button.btn-card:hover {
    cursor: pointer;
}

.item2 {
    margin-top: 20px;
    margin-left: 5px;
}

.img-discount1 {
    margin-top: -5px;
}

.img-logo-footer {
    width: 32px;
    margin-top: -100%;
    margin-left: 45%;
}

@media (min-width: 576px) {
    .img-logo-footer {
        width: 72px;
        margin-top: -100%;
        margin-left: 48%;
    }
}

.form-control {
    font-style: italic;
    font-weight: 800;
}

.text-footer {
    font-size: 15px;
    margin-top: -45%;
    margin-left: 36%;
    font-weight: 700;
}

@media (min-width: 576px) {
    .text-footer {
        font-size: 30px;
        margin-top: -45%;
        margin-left: 43%;
        font-weight: 700;
    }
}

.box-input:hover {
    border: none;
}

.box-input:active {
    border: none;
}

.newsletter-form button {
    width: 80px;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border: none;
    height: 50px;
    background: linear-gradient(250.38deg, #F9AD1B 5.97%, #EB832D 42.27%);
}

.newsletter-form input {
    height: 50px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 2px 12px 24px rgba(0, 0, 0, 0.25);
}

.box-input {
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 35px;
    margin-top: 50px;
    padding-left: 20px;
    width: 100%;
    height: 68px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 2px 12px 24px rgba(0, 0, 0, 0.25);
}

.btn-footer {}

@media (min-width: 576px) {
    .btn-footer {
        line-height: 35px;
        height: 46px;
        margin-left: -155px;
        font-size: 18px;
        width: 140px;
    }
}

.text-lorem-footer {
    text-align: center;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
}

@media (min-width: 576px) {
    .text-lorem-footer {
        margin-top: 30px;
        width: 600px;
        margin-top: 30px;
        margin-left: 270px;
    }
}


.text-copyright {
    font-size: 8px;
    margin-left: 13%;
    font-weight: 700;
}

@media (min-width: 576px) {
    .text-copyright {
        font-size: 20px;
        margin-left: 25%;
        margin-top: 35%;
        font-weight: 700;
    }
}